<template>
  <div id="app">
    <UserList/>
  </div>
</template>

<script>
import UserList from './components/UserList.vue'

export default {
  name: 'app',
  components: {
    UserList
  }
}
</script>

<style>
#app {
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  margin-left: 60px;
  margin-right: 60px;
}
</style>
