<template>
  <div class="list">
    <h2>Users List</h2>
    <div id="main" class="section">
      <form class="container section" id="form">
        <div class="row">
          <div class="input-field col s4 m4 l4 offset-m1 offset-l1">
            <input id="first_name" type="text" v-model="userInput.fname">
            <label for="first_name">First Name</label>
          </div>
          <div class="input-field col s4 m4 l3 ">
            <input id="last_name" type="text" v-model="userInput.lname">
            <label for="last_name">Last Name</label>
          </div>
          <a id="add" class="input-field waves-effect waves-light z-depth-3 blue btn btn-small col s3 m2 offset-s1 offset-m1" type="submit" v-bind:disabled="userInput.fname === '' || userInput.lname === ''" @click="addUser">Add</a>
        </div>
      </form>
      <div class="container">
        <div class="row">
          <div>
            <table class="centered z-depth-1 hoverable">
              <thead>
                <tr>
                  <th>Selection</th>
                  <th>
                    First Name</th>
                  <th>
                    Last Name</th>
                </tr>
              </thead>
              <tbody v-if="users">
                <tr v-for="user in users" :key="user.id">
                  <td>
                    <p>
                      <label><input :bind="user._id" @change="checked()" type="checkbox" class="filled-in" />
                        <span></span>
                      </label>
                    </p>
                  </td>
                  <td v-text="user.fname"></td>
                  <td v-text="user.lname"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <a id="delete" class="input-field waves-effect waves-light z-depth-3 red btn btn-small col s3 m2 offset-s9 offset-m10 offset-l9" v-bind:disabled="!isChecked" @click="deleteUser">Delete</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import * as M from "materialize-css/dist/js/materialize.min";
import * as axios from "axios";
export default {
  name: "UserList",
  data() {
    return {
      userInput: {
        fname: "",
        lname: ""
      },
      users: [],
      isChecked: false
    };
  },
  methods: {
    // get Users
    getUsers: function() {
      let tempArray = [];
      axios.get("http://34.218.242.100/users/").then(({ data }) => {
        data.forEach(element => {
          tempArray.push(element);
        });
        this.$data.users = tempArray;
        this.$data.userInput.fname = "";
        this.$data.userInput.lname = "";
      });
    },
    // Add new User
    addUser: function() {
      axios
        .post("http://34.218.242.100/users/", this.$data.userInput)
        .then(() => {
          this.getUsers();
          this.popupMsg("User Added", "green");
        });
    },
    // Delete one or many users
    deleteUser: function() {
      let usersToDelete = document.querySelectorAll("input:checked");
      usersToDelete = Array.prototype.map.call(usersToDelete, el => {
        return el.attributes.bind.nodeValue;
      });

      axios
        .delete("http://34.218.242.100/users/", { data: usersToDelete })

        .then(() => {
          this.getUsers();
          this.unCheckAll();
          this.popupMsg("Deleted", "red");
        });
    },
    unCheckAll: function() {
      let checkUsers = document.querySelectorAll("input:checked");
      checkUsers.forEach(element => {
        element.checked = false;
      });
      this.$data.isChecked = false;
    },
    checked: function() {
      let checkUsers = document.querySelectorAll("input:checked");
      checkUsers.length > 0
        ? (this.isChecked = true)
        : (this.isChecked = false);
    },
    popupMsg: function(val, color) {
      M.toast({ html: val, classes: `rounded ${color} center-align center` });
    }
  },
  mounted: function() {
    // init materialze-css
    M.AutoInit();
    this.getUsers();
  }
};
</script>

<style scoped lang="scss">
tbody {
  display: block;
  max-height: 50vh;
  overflow: auto;
}
thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
thead {
  width: calc(100% - 1em);
}

@media (min-width: 320px) and (max-width: 767px) {
  #add {
    margin-top: 1.9em;
    margin-left: 1em;
  }
  #delete {
    left: -0.5em;
  }
}
</style>
